.box-image-link .img-image-link {
    max-width: 200px;
    margin-bottom: 1rem !important;
}

.gallery .list-image {
    margin: -5px;
}

.gallery .list-image [class*="col-"] {
    padding: 5px;
}

.gallery .list-image .image-wrapper {
    border: 1px solid #e3e3e3;
}

.gallery .list-image .item .image-wrapper .action {
    top: 5px;
    right: 5px;
}

.gallery .list-image .item .image-wrapper .icon {
    top: 0;
    left: 0;
}

.gallery .list-image .item .image-wrapper .icon i:before {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 70px;
    color: #dadada;
}

.gallery .list-image .item .name {
    z-index: 1;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.source-data .list-item .item .media .image-wrapper {
    width: 50px;
}